header {
  div {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  div:first-of-type {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  img {
    width: 5rem;
  }
}

.jumbotron {
  background-image: url('../assets/img/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 19rem;
}

section.list-title {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

li {
  margin-right: 1rem;
}

div.content {
  background-color: black;
  color: white;
  padding: 3rem 13rem;
  font-size: 1.5rem;
  width: 100%;
}

p {
  width: 16rem;
}