footer {
    background-image: url(/src/assets/img/footer-bg.jpg);
}

footer > div {
    display: flex;
}

section {
    width: 50%;
}

footer section:first-of-type{
    display: flex;
    justify-content: space-evenly;
}

footer section:nth-of-type(2) {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    color: white;
    font-variant: small-caps;
}

a {
    color: #7f7776;
    font-size: .5rem;
}

img {
    width: 240px;
    object-position: 0rem 0rem;
}
