
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}